body {
  padding: 0 !important;
  margin-left: 310px;
}

header {
  margin: 0 !important;
  position: fixed;
  left: 0;
  height: 100vh;
}

.wrapper {
  width: initial;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
}

.post-item {
  width: 90vh;
  margin-right: 40px;
  img {
    width: 100%;
  }
}
