body {
  padding: 30px !important;
  margin-left: 310px;
  background-color: #132748;
  color: #dadada;
}

header {
  margin: 0 !important;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background: #3072de;
  padding: 30px;
  box-sizing: border-box;
  width: 230px;
  a {
    font-weight: bold;
  }
}

section {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  border: none;
}

h1, h2, h3 {
  padding-bottom: 5px;
  margin: 0 0 5px;
}

a {
  color: #c3d5f3;
}

.wrapper {
  width: initial;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
}

.post-item {
  width: 25vw;
  margin-right: 40px;
  margin-bottom: 30px;
  word-break: break-all;
  white-space: normal;
  &:nth-child(3n) {
    margin-right: 0;
  }
  p {
    line-height: 1.3rem;
  }
  img {
    width: 100%;
    max-width: 450px;
    max-height: 240px;
  }
}
