body {
  padding: 0 !important;
  margin-left: 310px;
  background-color: #132748;
  color: #dadada;
}

header {
  margin: 0 !important;
  position: fixed;
  left: 0;
  height: 100vh;
  background: #3072de;
  padding: 30px;
  box-sizing: border-box;
  width: 230px;
  a {
    font-weight: bold;
  }
}

a {
  color: #c3d5f3;
}

.wrapper {
  width: initial;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
}

.post-item {
  width: 90vh;
  margin-right: 40px;
  img {
    width: 100%;
  }
}
